/*------------------------------------*\
  fonts 
\*------------------------------------*/

/*
:root {
	--font-size-default: 16px;
  
	@media only screen and (min-width: $tablet) {
	  --font-size-default: 2vw;
	}
	@media only screen and (min-width: $desktop) {
	  --font-size-default: 1.75vw;
	}
	@media only screen and (min-width: $desktop-large) {
	  --font-size-default: 1.5vw;
	}
	@media only screen and (min-width: $desktop-xlarge) {
	  --font-size-default: 1.25vw;
	}
  }
  
  
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto:wght@400;500;700&display=swap');
  
  $font-primary: 'Roboto', sans-serif;
  $font-secondary: 'Oswald', sans-serif;
  
  $font-weight-default: 300;
  $font-weight-medium: 400;
  $font-weight-heavy: 600;
  $font-weight-bold: 700;
  
  $letter-spacing-large: 0.02em;
  $letter-spacing-xlarge: 0.08em;
  
  $line-height-default: 1;
  $line-height-small: 1.2;
  $line-height-normal: 1.4;
  $line-height-medium: 1.6;
  $line-height-large: 1.8;




body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;
}

@import "headings";
@import "copy";


/*------------------------------------*\
  typo / *refacto font-size*
\*------------------------------------*/

/*
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-secondary;
    letter-spacing: $letter-spacing-large;
}

h1 {
    font-size: max(38px, calc(var(--font-size-default) * 2));
}

h2 {
    font-size: max(30px, calc(var(--font-size-default) * 1.6));
}

h3 {
    font-size: max(22px, calc(var(--font-size-default) * 1.2));
}

p {
    font-family: $font-primary;
    font-size: var(--font-size-default);
    font-weight: $font-weight-default;
    line-height: $line-height-normal;
}

p + p {
    margin-top: 1.25em;
}