/*------------------------------------*\
  text-img 
\*------------------------------------*/


.text-image {
    display: flex;
    flex-direction: column-reverse;

    @media only screen and (min-width: $tablet) {
        &:nth-child(odd) {
            flex-direction: row;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }
}

.text-image + .text-image {
    margin-top: max(60px, var(--space-small));
}

.text-image__text-wrapper,
.text-image__image-wrapper {
    width: 100%;

    @media only screen and (min-width: $tablet) {
        width: 50%;
    }
}

.text-image__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-image__text-wrapper {
    padding: 30px 0 0;

    @media only screen and (min-width: $tablet) {
        .text-image:nth-child(odd) & {
            padding: 4vw 4vw 4vw 0;
        }

        .text-image:nth-child(even) & {
            padding: 4vw 0 4vw 4vw;
        }
    }
}

.text-image h1 + p,
.text-image h2 + p,
.text-image h3 + p,
.text-image h4 + p,
.text-image h5 + p,
.text-image h6 + p {
    margin-top: 1.75em;
}

.text-image__image-wrapper {
    display: flex;
    max-height: 50vw;

    @media only screen and (min-width: $tablet) {
        max-height: none;
    }
}

.text-image__image {
    object-fit: cover;
}