/*------------------------------------*\
  grid / components *refacto space*
\*------------------------------------*/


.grid {
    display: grid;
}

.grid--2,
.grid--3,
.grid--4,
.grid--6 {
    grid-gap: 30px;
    grid-template-columns: repeat(1, 1fr);

    @media only screen and (min-width: $mobile-large) {
        grid-template-columns: repeat(2, 1fr);
    }
}


.grid--3,
.grid--4,
.grid--6 {
    @media only screen and (min-width: $tablet) {
        grid-gap: 2.5vw;
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid--4 {
    @media only screen and (min-width: $desktop) {
        grid-gap: 1.75vw;
        grid-template-columns: repeat(4, 1fr);
    }
}

.grid--6 {
    @media only screen and (min-width: $desktop) {
        grid-gap: 1.25vw;
        grid-template-columns: repeat(6, 1fr);
    }
}

/* 
/* .grid 
@media (min-width: 700px) {
    .grid {
        display: flex;
        column-gap: 40px;
        align-items: center;
    }

    
    .grid > * {
        width: calc(50% - 40px);
    }
}

.grid img {
    min-height: 45vh;
}


.grid h3 {
    cursor: pointer;
}


/* .grid_3 */

/* .grid 
@media (min-width: 700px) {
    .grid_3 {
        display: flex;
        column-gap: 40px;
        align-items: center;
    }

    .grid_3 > * {
        width: calc(33% - 40px);
    }

}

.grid_3 h4 {
    cursor: pointer;
}


  gird_wrap 

 .gird_wrap {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;

     column-gap: 30px;
     row-gap: 50px;
 }

 .gird_wrap > article {
     max-width: 80ch;
 }

/* grid_accueil */



/* .grid */
/* @media (min-width: 700px) {
    .grid_accueil {
        display: flex;
        justify-content: center;
        column-gap: 70px;
        align-items: center;
    }

    .grid_accueil > * {
        width: calc(43% - 40px);
    }

} 

.grid_accueil > section {
    max-width: 100ch;
}

.grid_accueil > div + div {
    margin-top: 50px;
}

.grid_accueil > div > * + * {
    margin-top: 20px;
} */


  /*------------------------------------*\
  space 
\*------------------------------------*/


@for $i from 1 through 10 {
    .spacer-top-#{$i * 10} {
        margin-top: max(calc(#{$i} * 10px), calc(#{$i} * var(--space-base)));
    }
}